/*BACKGROUND COLOR OF WHOLE PAGE*/
body {
	background-color: black; 
}

/*NAVBAR SECTION*/
.nav {
	background-color: forestgreen;
}
.nav a {
	color: black;
}

img{
	max-width: inherit;
	align-content: center;
}
/*INFO BOX SECTION*/

/*span {
	color: forestgreen;
}*/

h1, h3, h6 {
	color: forestgreen;
	text-align: center;
}